html{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb.woff") format("woff"), url("../fonts/ttf/IRANSansWeb.ttf") format("truetype");
}
h6 {
    font-family: "IRANSans";
}
h4 {
    font-family: "IRANSans";
}
p {
    font-family: "IRANSans";
}
.main {
    width: 1300px;
    height:600px;
    float: right;
    margin-top: 30px;
    background: #fbf8f8 !important;
    margin-right: -30px;
}
.cel {
    background: #fff;
    width: 230px;
    margin-right: 30px;
    margin-left: 30px;
}
.cel img{
    margin-left: -15px;
    width: 80px;
    float: left;
}
.cel h6{
    padding-left: 108px;
}

canvas.canvasjs-chart-canvas {
    width: 95%;
    margin-left: 70px;
}



#bar-vertical {
    display: table;
    width: 100%;
    min-width: 320px;
    max-width: 600px;
    height: 400px;
    border: 1px solid #333;
    background: #f2f2f2;
}
.vcell {
    display:table-cell;
    vertical-align: bottom;
    color: #fff;
    text-align: center;
}
#bar-vertical{
    margin-left: 50px;
    width: 60% !important;
    min-width: 1px !important;
    max-width: initial !important;
    height: 280px !important;
}
